<div class="mainContent">
  <h1>skuvo</h1>
  <h2>minimalist image hosting</h2>
  <p class="flash"><%= flash[:notice] %></p>
  <% if current_user %>
    <div class="right">Welcome back, <%= link_to @user.username, username_path(@user.username) %></div>
  <% else %>
    <div class="right"><%= link_to "signup", signup_path %> | <%= link_to "login", login_path %> | <%= link_to "sample", username_path("panorama") %></div>
  <% end %>
  <div class="splashUpload">
    <form accept-charset="UTF-8" action="/photos" class="new_photo" id="new_photo" method="post">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="Wl+n/0UuyTyj1NWYF1uG4ZbB6f6E3MrWDW1Nvw6m3e0=" />
      </div>
      
      <input data-fp-apikey="AWbWJDU7S82YMEcTRnbFwz" 
             data-fp-button-text="Select Images" 
             data-fp-button-class="selector" 
             data-fp-mimetypes="image/*" 
             data-fp-option-multiple="true" 
             data-fp-option-services="COMPUTER,FACEBOOK,INSTAGRAM,URL" 
             id="photo_url" name="photo[url]" 
             onchange="
                var imageData = [];
                var files = event.fpfiles;
                imageData.push('<p>' + files.length + ' file(s) to upload:</p>');
                for (var i = 0, f; f = files[i]; i++) {
                  imageData.push('<li>Name: <span class=\'fileDesc\'>' + f.filename + '</span></li><p> Size: <span class=\'fileDesc\'>' + (f.size/1000).toFixed(0) + ' kb</span></p>');
                }
                document.getElementById('imageData').innerHTML = '<ul>' + imageData.join('') + '</ul>';
                $('#imageData').fadeIn(600);
                setTimeout(function() {
                  $('input[type=submit]').fadeIn(200);
                }, 400);
                " 
              size="30" 
              type="filepicker" />
      <input id="upload" name="commit" type="submit" value="Upload" />
    </form>    
    
    <div id="imageData">
    </div>
  </div>

<div id="dropZone">
</div>

  <script>
  $(document).ready(function(){
    $('input[type="submit"]#upload').hide();

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40971767-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


    // filepicker.makeDropPane($('#dropZone')[0], {

    // multiple: true,
    // mimetype: 'image/*',
    // maxSize: 1048576,

    // dragEnter: function() {
    //   $("#dropZone").html('<h2>Drop Files Here</h2>').css({
    //     'width': '99%',
    //     'height': '99%',
    //     'opacity':'0.2',
    //     'border':'3px dotted #000'
    //     'z-index': '100'
    //   });
    // },
    // dragLeave: function() {
    //   $("#dropZone").html('').css({
    //     'opacity':'1',
    //     'border':'0px'
    //   });
    // },
    // onSuccess: function(fpfiles) {
    //   $("#dropZone").hide();
    //   $(".selector").fadeOut();
    //   var imageData = [];
    //   imageData.push('<p>' + fpfiles.length + ' file(s) to upload:</p>');
    //   for (var i = 0, f; f = fpfiles[i]; i++) {
    //     imageData.push('<li>Name: <span class=\'fileDesc\'>' + f.filename + '</span></li><p> Size: <span class=\'fileDesc\'>' + (f.size/1000).toFixed(0) + ' kb</span></p>');
    //   }
    //   document.getElementById('imageData').innerHTML = '<ul>' + imageData.join('') + '</ul>';
    //   $('.splashUpload #imageData').fadeIn(600);
    //   setTimeout(function() {
    //     $('input[type=submit]').fadeIn(200);
    //   }, 400);
    // },
    // onError: function(type, message) {
    //     $(".splashUpload #imageData").text('('+type+') '+ message);
    // },
    // onProgress: function(percentage) {
    //     $("#dropZone").text("Uploading ("+percentage+"%)");
    // }
    // });
  })
  </script>
</div>