<%= filepicker_js_include_tag %>

<%= form_for Photo.new do |f| %>
  <div>
    <%= f.label :filepicker_url, "Upload Some Pics:" %>
    
    <%= f.filepicker_field :filepicker_url %>
  </div>

  <%= f.submit %>
<% end %>