<div class="mainContent">
  <h1>Skuvo</h1>
  <% if current_user %>
  <div class="splashUpload">
    <%= form_for Photo.new do |f| %>
      <%= f.filepicker_field :url,
          mimetypes: "image/*",
          button_text: "Select Images",
          services: "COMPUTER,FACEBOOK,INSTAGRAM,URL",
          onchange: "
          var imageData = [];
          var files = event.fpfiles;
          for (var i = 0, f; f = files[i]; i++) {
            imageData.push('<p>Name: ' + f.filename + ', Size: ' + (f.size/1000).toFixed(0) + ' kb</p>');
          }
          document.getElementById('imageData').innerHTML = '<ul>' + imageData.join('') + '</ul>';
          $('#imageData').fadeIn(800);
          setTimeout(function() {
            $('input[type=submit]').fadeIn(800);
          }, 800);
          " %>
      <%= f.submit "✔ Upload", id: "upload" %>
    <% end %>
    
    <ul id="imageData">
    </ul>
  </div>
  <% else %>
  <div class="splashSignup">
    <h2>Sign up in 15 sec</h2>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.label :username, 'Username' %>
      <%= f.text_field :username, :value => "skuvo.com/user/", :id => "domain", :readonly => "readonly" %>
      <%= f.text_field :username, :placeholder => "yourusername", :autofocus => true, :id => "username" %>
      <%= f.label :email, 'Email' %><%= f.text_field :email, :placeholder => "you.are@awesome.com" %>
      
      <%= f.label :password, 'Password' %><%= f.password_field :password, :placeholder => "Password (min 6 chars)" %>
      <%= f.label :password_confirmation, 'Confirm Password' %><%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
      <%= f.submit %>
    <% end %>
  </div>
  <% end %>
  
  <script>
  $(document).ready(function(){
    $('input[type="submit"]#upload').hide();
    $('#imageData').hide();
  });
  </script>
</div>