<div class="mainContent">
  <h1>skuvo</h1>
  <% if current_user %>
  <h2>Hi, <%= link_to @user.username, username_path(@user.username) %></h2>
  <div class="splashUpload">
    <%= form_for Photo.new do |f| %>
      <%= f.filepicker_field :url,
          mimetypes: "image/*",
          :'data-fp-option-multiple' => "true",
          button_text: "Select Images",
          services: "COMPUTER,FACEBOOK,INSTAGRAM,URL",
          onchange: "
          var imageData = [];
          var files = event.fpfiles;
          for (var i = 0, f; f = files[i]; i++) {
            imageData.push('<p>Name: ' + f.filename + ', Size: ' + (f.size/1000).toFixed(0) + ' kb</p>');
          }
          document.getElementById('imageData').innerHTML = '<ul>' + imageData.join('') + '</ul>';
          $('#imageData').fadeIn(800);
          setTimeout(function() {
            $('input[type=submit]').fadeIn(800);
          }, 800);
          " %>
      <%= f.submit "Upload", id: "upload" %>
    <% end %>
    
    <ul id="imageData">
    </ul>
  </div>
  <% else %>
  <div class="splashSignup">
    <h2>minimalist image hosting<span id="demoLink"><%= link_to " (demo)", demo_path %></span></h2>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.label :username, 'Username' %>
      <%= f.text_field :username, :value => "skuvo.com/user/", :id => "domain", :readonly => "readonly" %>
      <%= f.text_field :username, :placeholder => "yourusername", :autofocus => true, :id => "username" %>
      <%= f.label :email, 'Email' %><%= f.text_field :email, :placeholder => "you.are@awesome.com" %>
      
      <%= f.label :password, 'Password' %><%= f.password_field :password %>
      <%= f.label :password_confirmation, 'Confirm Password' %><%= f.password_field :password_confirmation %>
      <%= f.submit %>
    <% end %>
    <p><%= link_to "(or log in)", new_session_path %></p>
  </div>
  <% end %>
  
  <script>
  $(document).ready(function(){
    $('input[type="submit"]#upload').hide();
    $('#imageData').hide();

    // filepicker.makeDropPane($('#exampleDropPane')[0], {

    // multiple: true,
    // mimetype: 'image/*',
    // maxSize: 1048576,

    // dragEnter: function() {
    //     $("#exampleDropPane").html("Drop to upload").css({
    //         'backgroundColor': "#E0E0E0",
    //         'border': "1px solid #000"
    //     });
    // },
    // dragLeave: function() {
    //     $("#exampleDropPane").html("Drop files here").css({
    //         'backgroundColor': "#F6F6F6",
    //         'border': "1px dashed #666"
    //     });
    // },
    // onSuccess: function(fpfiles) {
    //     $("#exampleDropPane").text("Done, see result below");
    //     $("#localDropResult").text(JSON.stringify(fpfiles));
    // },
    // onError: function(type, message) {
    //     $("#localDropResult").text('('+type+') '+ message);
    // },
    // onProgress: function(percentage) {
    //     $("#exampleDropPane").text("Uploading ("+percentage+"%)");
    // }
    // });
  });
  </script>
</div>