<div class="gallery">
  <div class="tab" id="photosGalleria">
    <% if @photos.any? %>
      <%= render @photos %>
    <% else %>
      <strong><%= @album ? "Album is empty" : "No uploaded images yet" %></strong>
    <% end %>
  </div>
  
  <% if @photos.any? && @photos.total_pages >= 2 %>
  <div id="showMoreDiv">
    <%= link_to 'Load more images', username_path(@user.username, :page => (@photos.current_page + 1)), :remote => true, :id => 'showMoreLink' %>
  </div>
  <% end %>

  <% if @albums %>
    <div class="tab" style="display:none">
      <div class="photoShow" id="albums">
        <% if @albums.any? %>
          <%= render @albums %>
        <% else %>
          No albums created. Albums are automatically created when you upload more than 1 image at a time.
        <% end %> 
      </div>
    </div>
  <% end %>
  
  <% if @album %>
    <p id="albumText">
      <% if !current_user || current_user != @user %>
        <%= link_to "Signup to save your images", signup_path %>
      <% else %>
        <%= link_to "Return to " + @user.username + "'s gallery", username_path(@user.username) if @user %>
      <% end %>
    </p>
  <% end %>
</div>