<% provide(:title, ' - ' + 'signup') %>
<div class="mainContent">
	<h1>skuvo</h1>
	<div class="splashSignup">
	  <%= form_for @user do |f| %>
	    <% if @user.errors.any? %>
	      <div class="error_messages">
	        <ul>
	          <% for message in @user.errors.full_messages %>
	            <li><%= message %></li>
	          <% end %>
	        </ul>
	      </div>
	    <% end %>
	    <%= f.label :username, 'Username' %>
	    <%= f.text_field :username, :value => "skuvo.com/user/", :id => "domain", :readonly => "readonly" %>
	    <%= f.text_field :username, :placeholder => "yourusername", :id => "username" %>
	    <%= f.label :email, 'Email' %><%= f.text_field :email, :placeholder => "you.are@awesome.com" %>
	    
	    <%= f.label :password, 'Password' %><%= f.password_field :password %>
	    <%= f.label :password_confirmation, 'Confirm Password' %><%= f.password_field :password_confirmation %>
	    <%= f.submit %>
	  <% end %>
	  <p><%= link_to "(or log in)", login_path %></p>
	</div>
</div>