<h1>
  skuvo<span><%= link_to image_tag('/assets/glyphicons_201_upload.png'), root_path %></span>
</h1>
<h2>
  <%= @user.username %>'s Gallery 
  (<span id="photosCount"><%= @photos.count %></span>)
</h2>

<div class="gallery">
  <div class="innerContainer">
    <% if @photos.any? %>
      <% @photos.each do |photo| %>
      <div class="photoView">
        <a href="<%= photo.url %>">
          <img alt="<%= @user.username %>'s image" class="photo" height="200" src="<%= photo.url %>/convert?fit=crop&amp;height=200&amp;width=200" width="200" />
        </a>
        <div>
      	 <span><input style="string" value="http://www.skuvo.com/<%= photo.short_url %>" size="30" readonly="readonly" onclick="this.select()"></span>
    	  </div>
    	  <div class="photoButtons">
          <button data-fp-apikey="AWbWJDU7S82YMEcTRnbFwz" 
            data-fp-mimetype="image/png" 
            data-fp-url="<%= photo.url %>" 
            name="button" 
            type="submit">
            <img alt="Glyphicons_200_download" id="download" src="/assets/glyphicons_download.png" />
          </button>
          <%= link_to image_tag('/assets/glyphicons_remove.png', id: "delete", alt: "Delete Image"), photo, method: "delete", remote: true %>  
    	  </div>
      </div>
      <% end %>
    <% else %>
      No uploaded images yet.
    <% end %>
  </div>
</div>