<h1>Hey, <%= @user.username %></h1>
<%= form_for Photo.new do |f| %>
    <div>
      <%= f.filepicker_field :url,
          mimetypes: "image/*",
          button_text: "Select Images",
          services: "COMPUTER,FACEBOOK,INSTAGRAM,URL",
          onchange: "
          $('input[type=submit]').fadeIn(800);
          var imageData = [];
          var files = event.fpfiles;
          for (var i = 0, f; f = files[i]; i++) {
            imageData.push('<p>Name: ' + f.filename + ', Size: ' + (f.size/1000).toFixed(0) + ' kb</p>');
          }
          document.getElementById('imageData').innerHTML = '<ul>' + imageData.join('') + '</ul>';
          " %>
    </div>
    <ul id="imageData">
    </ul>
    <%= f.submit "Ok, let's go." %>
  <% end %>


<p>Gallery of your images (<span id="photosCount"><%= @photos.count %></span>)</p>
<div class="gallery">
<% if @photos.any? %>
  <% @photos.each do |photo| %>
  <div class="photoView">
    <%= link_to filepicker_image_tag(photo.url, width: 200, height: 200, fit: 'crop', alt: "#{@user.username}'s image"), photo.url %>
    <div>
  	  Link: <span><input style="string" value="http://www.skuvo.com/<%= photo.short_url %>" size="30"></span>
	  </div>
	  <div class="photoButtons">
		  <%= filepicker_save_button "Download", photo.url, "image/png" %>
      <%= button_to "Delete", photo, method: "delete", :remote => true, id: "delete" %>
	  </div>
  </div>
  <% end %>
<% else %>
  No uploaded images yet.
<% end %>
</div>

<script>
  // $(document).ready(function(){
  //   $('input[type="submit"]').hide();
  // });
</script>