<h1>
  skuvo<span><%= link_to image_tag('../assets/glyphicons_201_upload.png'), root_path %></span>
</h1>
<h2>
  <%= @user.username %>'s Gallery 
  (<span id="photosCount"><%= @photos.count %></span>)
</h2>

<div class="gallery">
<% if @photos.any? %>
  <% @photos.each do |photo| %>
  <div class="photoView">
    <%= link_to filepicker_image_tag(photo.url, width: 200, height: 200, fit: 'crop', alt: "#{@user.username}'s image"), photo.url %>
    <div>
  	  Link: <span><input style="string" value="http://www.skuvo.com/<%= photo.short_url %>" size="30"></span>
	  </div>
	  <div class="photoButtons">
        <%= filepicker_save_button image_tag('../assets/glyphicons_200_download.png', id: "download"), photo.url, "image/png" %>
        <%= link_to image_tag('../assets/glyphicons_197_remove.png', id: "delete"), method: "delete", :remote => true %>  
	  </div>
  </div>
  <% end %>
<% else %>
  No uploaded images yet.
<% end %>
</div>

<script>
  // $(document).ready(function(){
  //   $('input[type="submit"]').hide();
  // });
</script>